.anchor-button {
    color: #ffffff;
    background-color: black;
	border-radius: $border-radius;
	min-height: 2.5875em;
	padding: 0.7em 0.875em 0.7em 0.875em;
	line-height: 1.2em;

}

.nav-anchor {
    color: #000000;
}